body.using-mouse :focus {
    outline:none;
}

html {
    font-size: 62.5%;
}
:root {
    --orange-color: #F09428;
    --light-gray-color: #A5A5A5;
    --dark-gray-color: #333333;
}

body {
    background-color: rgb(30,30,30);
    font-family: sans-serif;
}
.frame-container {
    text-align: center;
}
.frame {
    margin-top: 15rem;
    display: inline-block;
    background: black;
    border-radius: 1rem;
    border: 1px solid white;
    padding: 2rem;
}

.display {
    display: flex;
    height: 9rem;
    color: white;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 1rem;
    font-size: 5rem;
}
.button-grid {
    display: grid;
    grid-template: 
                   "seven eight nine undo all-clear" auto
                   "four five six add subtract" auto
                   "one two three multiply divide" auto
                   "zero decimal-point sign-modifier equals-sign equals-sign" auto
                   / auto auto auto auto auto;

    gap: 0.8rem;
}

/* Begin - Formatting Buttons */
.button-grid button {
    border-radius: 50%;
    border: none;
    height: 6rem;
    width: 6rem;
    transition: filter 0.1s, transform 0.1s;
    transition-timing-function: ease-out;
    user-select: none;
}

.button-grid button.clicked-button {
    filter: brightness(1.4);
    transform: scale(0.98);
}
/* override formatting for  buttons */
.button-grid button.equals-sign {
    align-self: stretch;
    width: initial;
    border-radius: 2.5rem / 50%;
    
}

.number, .decimal-point, .sign-modifier {
    background-color: var(--dark-gray-color);
    color: white;
    font-size: 2.8rem;
}
.operator, .equals-sign {
    background-color: var(--orange-color);
    color: white;
    font-size: 3.5rem;
}

.backspace, .all-clear {
    background-color: var(--light-gray-color);
    color: black;
    font-size: 2rem;
}


/* End - Formatting Buttons */

/* Begin - Positioning of Individual Buttons */

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.three {
    grid-area: three;
}.four {
    grid-area: four;
}.five {
    grid-area: five;
}.six {
    grid-area: six;
}.seven {
    grid-area: seven;
}.eight {
    grid-area: eight;
}.nine {
    grid-area: nine;
}.zero {
    grid-area: zero;
}.decimal-point {
    grid-area: decimal-point;
}.sign-modifier {
    grid-area: sign-modifier;
}
.undo {
    grid-area: undo;
}
.all-clear {
    grid-area: all-clear;
}
.add {
    grid-area: add;
}
.subtract {
    grid-area: subtract;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}
.equals-sign {
    grid-area: equals-sign;
}
/* End - Positioning of Individual Buttons */ 